body{
    background-color: rgb(163, 114, 114);
}

h1{
    font-size: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
    color: rgb(230, 195, 246);
}

#luigi{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    color: rgb(230, 195, 246);
}

#button {
    box-sizing: border-box;
    border: none;
    background: var(--surface);
    box-shadow: var(--border-raised-outer), var(--border-raised-inner);
    border-radius: 0;
    min-width: 75px;
    min-height: 23px;
    padding: 0 12px;
    &:not(:disabled) {
        &:active,
        &.active {
            box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
        }
    }
    &:focus,
    &.focused {
        outline: 1px dotted #000000;
        outline-offset: -4px;
    }
    &::-moz-focus-inner {
        border: 0;
    }
}
